// LoginForm-Colors
:root {
    --clr-bg-main: #45b4d0;
    --clr-circle: #a7dbe8;
    --clr-heading-900: #fff;
    --clr-heading-800: #def1f6;
    --clr-logo: #181b67;
    --clr-login-text: #b2b5c8;
    --clr-login-details: #f7f7f7;
    --font-family: "Raleway", sans-serif;
}
